body {
	padding-top: 60px;
	background: #e5e5e5;
}

.well {
	background: #a4b6c1;
}

.navbar-default {
	background: #022b3a;
	width: 100%;
	color: #a4b6c1;
}

.wrap {
	 height: 100%;
	 overflow: hidden;
}

a {
	color : #022b3a;
}
label, input {
	display: block;
}
.btn-primary {
	background: #022b3a;
}

.login{
	margin-top: 10px;
}

.thumbs {
	height: 200px;
	width: 300px;
}

.plainList {
	list-style-type: none;
}

.center {
	text-align: center;
}

.floatLeft {
	float:left;
	margin : 5px;
}

.margin3 {
	margin: 3px;
}

.margin10 {
	margin: 10px;
}

.cart-btn{
	border-radius: 3px;
	float: right;
	margin-bottom: 3px;
}

.selCat {
	color: #a4b6c1;
	font-weight: bold;
	padding-left: 15px;
}


.cart-item{
	border-style: double;
	border-width: 5px;
	border-color: #034f84;
	padding: 5px;
}




.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  flex: 1;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
}
.glyphicon-star {
	color:blue;
}

.date {
	color: red;
}

.floatRt {
	float:right;
}

.landing {
  margin: 10px;
}

.red {
	color: red;
	font-style:bold;
}

.err {
  color: red;
}
