.thumbs {
	height: 200px;
	width: 300px;
}

.plainList {
	list-style-type: none;
}

.center {
	text-align: center;
}

.floatLeft {
	float:left;
	margin : 5px;
}

.margin3 {
	margin: 3px;
}

.cart-btn{
	border-radius: 3px;
	float: right;
	margin-bottom: 3px;
}

.cart-item{
	border-style: double;
	border-width: 5px;
	border-color: #034f84;
}
